<add-button
  (click)="staticModal.show()"
  [value]="'Create New Content'"
></add-button>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="bsmodal">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title pull-left">Travel the USA Content Builder</h1>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <tabset #staticTabs class='ui-builder-container'>
          <tab heading='Part 1'>
            <div class="part1-container">

              <hr>
              <h5>Content Type</h5>
              <div class="btn-group">
                <switcher [options]="contentSwitchOptions" (toggle)="contentTypeValue = $event"></switcher>
              </div>

              <br>
              <h5>Orientation Type</h5>
              <div class="btn-group">
                <label class="btn" [(ngModel)]="orientationTypeValue" btnRadio=106>Landscape</label>
                <label class="btn" [(ngModel)]="orientationTypeValue" btnRadio=105>Portrait</label>
                <label class="btn" [(ngModel)]="orientationTypeValue" btnRadio=104>Square</label>
              </div>
              <hr>

              <h3>Let's Name the Content</h3>
              <input [(ngModel)]="contentName">
              <br>
              <button [type]="'tertiary'" [value]="'Next'" (click)="Next()">Next</button>
            </div>
          </tab>
          <tab heading='Part 2'>
            <h3>Media Manipulation</h3>
            <upload-button></upload-button>
            <br>
            <button [type]="'tertiary'" [value]="'Finish'" (click)="Finish()">Finish</button>
          </tab>
        </tabset>

      </div>
    </div>
  </div>
</div>
