.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0%; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ width: 100px; margin-left: 10%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ width: 120px; margin-left: 20%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 30%; }
.slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 40%; }
.slidemenu #slide-item-6:checked ~ .slider .bar{ margin-left: 50%; }
.slidemenu #slide-item-7:checked ~ .slider .bar{ margin-left: 60%; }
