.slidemenu #slide-item-1.active ~ .slider .bar {
  width: 95px;
}

.slidemenu #slide-item-2.active ~ .slider .bar {
  margin-left: 150px;
  width: 90px;
}

.slidemenu #slide-item-3.active ~ .slider .bar {
  margin-left: 295px;
  width: 60px;
}

.slidemenu label {
  width: 130px !important;
}