<button (click)="editModal.show()">Manage settings</button>
<div [config]="{ show: false }"
     bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h1 class="modal-title">Update preferences</h1>
        </div>
        <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
          <img src="assets/img/close.svg">
        </button>
      </div>
      <div class="modal-body">
        <form
          (ngSubmit)="updateSettings(settingsForm.value)"
          class="form"
          novalidate>

          <div [formGroup]="settingsForm">
            <!-- First Name -->
            <div class="form-element">
              <label>Set to auto update or manual</label>
              <label>
                Manual
                <input
                  type="radio"
                  name="updateType"
                  [value]="0"
                  formControlName="updateType"
                  placeholder="Name">
              </label>
              <label>
                Auto
                <input
                  type="radio"
                  name="updateType"
                  [value]="1"
                  formControlName="updateType"
                  placeholder="Name">
              </label>
            </div>

            <!-- Log time -->
            <div>
              <label for="logTime">Select a time</label>
              <select
                id="logTime">
                <option>Select log time</option>
              </select>
            </div>

            <!-- Client -->
            <div>
              <label for="logsPerDay">Logs per day</label>
              <input
                id="logsPerDay"
                type="number"
                step="1"
                min="1"
                formControlName="logsPerDay"
                placeholder="Logs per day">

              <div ngxErrors="logsPerDay">
                <div ngxError="required" when="touched">
                  Field is required
                </div>
                <div ngxError="min" when="touched">
                  Min value is 1
                </div>
              </div>
            </div>

          </div>

          <div class="btn-actions">
            <fox-button
              [value]="'CONTINUE'"
              [design]="'gray'"
              [disabled]="settingsForm.invalid"
            ></fox-button>

            <div class="btn-actions">
              <fox-button
                [value]="'CANCEL'"
                [design]="'gray'"
                ((click)="editModal.hide()"
              ></fox-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="user-container">
</div>
