<div class="container">
<label>
   <input type="radio" name="orientationPosition" value="topLeft" [ngModel]="type" (ngModelChange)="onChange($event)">
   <div></div>
</label>
<label>
   <input type="radio" name="orientationPosition" value="topMid" [ngModel]="type" (ngModelChange)="onChange($event)">
   <div></div>
</label>
<label>
   <input type="radio" name="orientationPosition" value="topRight" [ngModel]="type" (ngModelChange)="onChange($event)">
   <div></div>
</label>
<label>
   <input type="radio" name="orientationPosition" value="midLeft" [ngModel]="type" (ngModelChange)="onChange($event)">
   <div></div>
</label>
<label>
   <input type="radio" name="orientationPosition" value="mid" [ngModel]="type" (ngModelChange)="onChange($event)">
   <div></div>
</label>
<label>
   <input type="radio" name="orientationPosition" value="midRight" [ngModel]="type" (ngModelChange)="onChange($event)">
   <div></div>
</label>
<label>
   <input type="radio" name="orientationPosition" value="botLeft" [ngModel]="type" (ngModelChange)="onChange($event)">
   <div></div>
</label>
<label>
   <input type="radio" name="orientationPosition" value="botMid" [ngModel]="type" (ngModelChange)="onChange($event)">
   <div></div>
</label>
<label>
   <input type="radio" name="orientationPosition" value="botRight" [ngModel]="type" (ngModelChange)="onChange($event)">
   <div></div>
</label>
</div>