.event-container {
  display: inline-flex;
  margin-top: 20px;
  height: 65px;

  & :first-child {
    > * {
      margin: auto;
      margin-right: 20px;
      padding-bottom: 5px;
    }
  }

  .main-info {
    & :first-child {
      display: flex;
      align-items: center;

      img {
        height: 35px;
        width: 35px;
      }

      label {
        font-size: 16px;
        font-weight: bold;
        font-family: Avenir-Book;
        line-height: 1.38;
        color: #343a40;
      }
    }
  }

  .experience {

    label{
      margin-left: 45px;
      font-size: 16px;
      font-family: Avenir-Book;
    }
  }
}
