<div class="event-container">
  <div>
    <div class="main-info">
      <checkbox></checkbox>
      <div>
        <div>
          <img *ngIf="status === -1" src="../../../assets/img/attention.svg" alt="">
          <img *ngIf="status === 1" src="../../../assets/img/complete.svg" alt="">
          <a [routerLink]="['/event', event.id, 'experiences']" class="event-name">{{event.name}}</a>
          <label class="date">{{ event.startTime | date}}</label>
          <div style="display: flex" *ngIf="event.tags.length > 0">
            <label *ngFor="let tag of event.tags">#{{tag}} </label>
          </div>
        </div>
        <div class="experience">
          <label name="experiences">
            {{ event.experiences.length}} Experiences
          </label>
        </div>
      </div>
    </div>
  </div>
  <fox-button *ngIf="eventActions.length === 1"
              [value]="eventActions[0].action"
              [design]="'gray'"></fox-button>
  <action-dropdown *ngIf="eventActions.length > 1" style="align-self: center" [options]="eventActions"
                   (typeChanged)="onTypeChanged({action: event, event: $event})"></action-dropdown>
</div>



