<div class="event-container">
  <div>
    <div class="main-info">
      <div>
        <checkbox></checkbox>
        <img *ngIf="status === -1" src="assets/img/attention.svg" alt="">
        <img *ngIf="status === 1" src="assets/img/complete.svg" alt="">
        <label class="name">{{event.name}}</label>
        <label class="date">{{ event.startTime | date}}</label>
        <label *ngIf="event.tags.length > 0">#{{event.tags}}</label>
        <a style="text-decoration: none" [routerLink]="['/experience',event.id]" [queryParams]="{ id: event.id }">link to experience </a>
      </div>
      <div class="experience">
        <label name="experiences">
         {{ event.experiences.length}} Experiences
        </label>
      </div>
    </div>
  </div>
  <fox-button *ngIf="eventActions.length === 1"
              [value]="eventActions[0].action"
              [type]="'gray'"></fox-button>
  <action-dropdown *ngIf="eventActions.length > 1" style="align-self: center" [options]="eventActions" (typeChanged)="onTypeChanged($event)"></action-dropdown>
</div>
