<div class="event-container">
  <div>
    <div class="main-info">
      <div>
        <checkbox></checkbox>
        <img *ngIf="status === -1" src="../../../assets/img/attention.svg" alt="">
        <img *ngIf="status === 1" src="../../../assets/img/complete.svg" alt="">
        <label class="name" [hidden]="!name">{{name}}</label>
        <label class="date" [hidden]="!date">{{date}}</label>
        <label [hidden]="!tags" *ngFor="let tag of tags">#{{tag}}</label>
      </div>
      <div class="experience">
        <label [hidden]="!expCount" name="experiences">
          {{expCount}} Experiences
        </label>
      </div>
    </div>
  </div>
  <action-dropdown
    [options]="eventActions"
    (typeChanged)="onTypeChanged($event)"
  ></action-dropdown>
</div>
<hr>
