:host /deep/ table-dropdown ul.dropdown-menu {
  width: 187px !important;
}

.event-container {
  margin: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-bottom: medium solid #b2bac4;
  border-width: 1px;

  checkbox {
    height: 32px;
    width: 32px;
    font-size: 14px;
  }

  .main-info {
    display: flex;
    width: 100%;

    div:first-child {
      margin-left: 20px;
    }

    .brands {
      display: flex;
      flex-wrap: wrap;
      margin-right: 0;
    }

    .event-name {
      font-size: 26px;
      font-family: Avenir-Book;
      line-height: 1.38;
      color: #343a40;
    }

    .main-content {
      display: flex;
      align-items: flex-end;
      width: 90%;

      > * {
        //margin-right: 20px;
      }

      > label {
        min-width: 100px;
      }

      > a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    > * :first-child {

      img {
        height: 35px;
        width: 35px;
      }

      label {
        font-family: WorkSans;
        font-size: 12px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0.6px;
        color: #b2bac4;
        margin-bottom: 5px;
      }
    }
  }
  label {
    font-size: 14px;
    font-family: WorkSans;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.6px;
    color: #b2bac4;
    margin-bottom: 0;
    margin-left: 20px;
  }

  fox-button {
    height: 36px;
    width: 118px;
    font-size: 14px;
    align-self: center;
  }
}
