<h1>New Event Group</h1>
<div class="container">
  <form
    (ngSubmit)="addEventGroup(eventGroupForm.value)"
    class="form"
    novalidate>

    <div [formGroup]="eventGroupForm">
      <!-- Name -->
      <div class="form-element">
        <label for="groupName">Client Name</label>
        <input
          id="groupName"
          class="form-control input"
          type="text"
          formControlName="groupName"
          placeholder="Group name">

        <div ngxErrors="groupName">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <event-tag
        [title]="'Event Name'"
      ></event-tag>`
      <event-tag
        [title]="'Event Name'"
      ></event-tag>`
      <event-tag
        [title]="'Event Name'"
      ></event-tag>`
      <event-tag
        [title]="'Event Name'"
      ></event-tag>`

      <div class="form-element">
        <label for="groupGallery">Client Name</label>


        <div ngxErrors="groupGallery">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>
    </div>

      <fox-button
        style="height: 36px; width: 118px; font-size: 14px"
        type="submit"
        [disabled]="eventGroupForm.invalid"
        [value]="'Save and Exit'"
        [design]="'special'"
      ></fox-button>
  </form>
</div>
