<h1>New Event Group</h1>
<div class="container">
  <form
    (ngSubmit)="addEventGroup(eventGroupForm.value)"
    class="form"
    novalidate>

    <div [formGroup]="eventGroupForm">
      <!-- Name -->
      <div class="form-element">
        <label for="name">Client Name</label>
        <input
          id="name"
          class="form-control input"
          type="text"
          formControlName="name"
          placeholder="Name">

        <div ngxErrors="name">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>
    </div>

    <div>
      <button
        type="submit"
        [disabled]="eventGroupForm.invalid"
        class="create-button">Save and Exit</button>
    </div>
  </form>
</div>
