<h1>New Event Group</h1>
<div class="container">
  <form
    (ngSubmit)="addEventGroup(eventGroupForm.value)"
    class="form"
    novalidate>

    <div [formGroup]="eventGroupForm">
      <!-- Name -->
      <div class="form-element">
        <label for="groupName">Client Name *</label>
        <input
          id="groupName"
          class="form-control input"
          type="text"
          formControlName="groupName"
          placeholder="Group name">

        <div ngxErrors="groupName">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- Tags -->
      <div class="form-element">
        <label>Add events</label>
        <tag-input
          formControlName="tags"
          [transform]="tagTransformer"
          [maxItems]="10">
          <tag-input-dropdown
            [identifyBy]="'id'"
            [displayBy]="'name'"
            [autocompleteItems]="tags">
          </tag-input-dropdown>
        </tag-input>

        <div ngxErrors="tags">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <div class="form-element">
        <label for="groupGallery">Enable Group Gallery</label>
        <switcher id="groupGallery" [options]="galleryOptions" (toggle)="value=$event"></switcher>
        <configure-button
          [value]="'Configure Gallery'"
        ></configure-button>

        <div ngxErrors="groupGallery">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>
    </div>
    <div>

      <fox-button
        type="submit"
        [disabled]="eventGroupForm.invalid"
        [value]="'Save and Exit'"
        [design]="'special'"
      ></fox-button>
    </div>
  </form>
</div>
