<div toastContainer class="toast-top-center"></div>

<div class="dr-actions"></div>

<div class="list-container">
  <div class="list-menu">
    <data-table
        [rows]="clients"
        [cols]="cols"
        [rowsCount]="totalClients"
        [actions]="actions"
        (sortChanged)="onSortChanged($event)"
        (limitChanged)="onLimitChanged($event)"
        (searchChanged)="onSearchChanged($event)"
        (pageChanged)="onPageChanged($event)"
        (actionChanged)="onActionChanged($event)">
    </data-table>
  </div>
</div>