<h1>Client List</h1>

<div toastContainer class="toast-top-center"></div>

<select (change)="onTypeChanged($event.target.value)">
  <option value="1">Unarchived</option>
  <option value="2">Archived</option>
</select>

<data-table
  [rows]="clients"
  [cols]="cols"
  [rowsCount]="totalClients"
  (sortChanged)="onSortChanged($event)"
  (limitChanged)="onLimitChanged($event)"
  (searchChanged)="onSearchChanged($event)"
  (pageChanged)="onPageChanged($event)">
</data-table>

<div>
  <button type="button" [routerLink]="['/client']">add new client</button>
</div>
