<div class="event-container">

  <div>
    <!-- Event Name -->
    <div class="form-element">
      <label>Event Name</label>
      <input id="name" [(ngModel)]="eventName" type="text" placeholder="Event Name">
    </div>

    <div class="form-element dates">
      <div>
        <label>Start Date</label>
          <input class="picker-input" [(ngModel)]="startMomentDate" title="{{startMomentDate}}"
                 [ngModelOptions]="{standalone: true}"
                 [returnObject]=" 'string' "
                 [(dateTimePicker)]="startMomentDate" [mode]="'dropdown'" [pickerType]="'date'" placeholder="Start Date"
                 readonly>
      </div>
      <div>
        <label>End Date</label>
          <input class="picker-input" [(ngModel)]="endMomentDate" [ngModelOptions]="{standalone: true}"
                 [returnObject]=" 'string' " [(dateTimePicker)]="endMomentDate"
                 [mode]="'dropdown'" [pickerType]="'date'" placeholder="End Date" readonly>
      </div>
    </div>
    <!-- Location -->
    <div class="form-element location">
      <label>Location</label>
      <input id="address" [(ngModel)]="eventAddress" type="text" placeholder="Address">
    </div>

    <!-- Tags -->
    <div class="form-element">
      <label>Tags</label>
      <tag-input [(ngModel)]="defaultTags" [transform]="tagTransformer" [maxItems]="10">
        <tag-input-dropdown [matchingFn]="matchingFn"  [identifyBy]="'id'" [displayBy]="'name'" [autocompleteItems]="tags">
        </tag-input-dropdown>
      </tag-input>

      <div ngxErrors="tags">
        <div class="field-error" ngxError="required" when="touched">
          Field is required
        </div>
      </div>
    </div>
    <div class="form-element">
      <label>Notifications</label>
      <switcher [type]="notificationOptions[0].id" [options]="notificationOptions"
                (toggle)="notification=$event"></switcher>
    </div>
    <br>


    <div>
      <div class="create">
        <fox-button
          [value]="'UPDATE'"
          [design]="'special'"
          (click)="editEvent()"
        ></fox-button>
      </div>
    </div>
  </div>
  <div class="map">
    <img src="http://staticmapmaker.com/img/bing.png" alt="Bing map">
  </div>


</div>
