<nav class="slidemenu">

  <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle"
         [routerLink]="[experienceId, 'content']"
         [class.active]="nav.isActive(['/experience/' + experienceId + '/content'], false)"/>
  <label for="slide-item-1"><span>Content</span></label>

  <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle"/>
  <label for="slide-item-2"><span>Social</span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><span>Email</span></label>

  <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle"
         [routerLink]="[experienceId, 'exgalleries']"
         [class.active]="nav.isActive(['/experience/' + experienceId + '/exgalleries'], false)"
  />
  <label for="slide-item-4"><span>Galleries</span></label>

  <input type="radio" name="slideItem" id="slide-item-5" class="slide-toggle"/>
  <label for="slide-item-5"><span>Interface</span></label>

  <input type="radio" name="slideItem" id="slide-item-6" class="slide-toggle"/>
  <label for="slide-item-6"><span>Feeds</span></label>

  <input type="radio" name="slideItem" id="slide-item-7" class="slide-toggle"/>
  <label for="slide-item-7"><span>Settings</span></label>

  <div class="clear"></div>

  <div class="slider">
    <div class="slide-line">
      <div class="bar"></div>
    </div>
  </div>
</nav>
