.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 3%; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 13%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 23%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 33%; }
.slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 43%; }
.slidemenu #slide-item-6:checked ~ .slider .bar{ margin-left: 53%; }
.slidemenu #slide-item-7:checked ~ .slider .bar{ margin-left: 63%; }
