<div class="user-container">

  <form
      *ngIf="userForm"
      (ngSubmit)="updateUser()"
      class="form"
      novalidate>

    <div class="form-group" [formGroup]="userForm">
      <!-- Email -->
      <form-input
          [control]="userForm.get('email')"
          title="Email/Username*">
      </form-input>

      <!--Client Access -->
      <div class="form-element">
        <label>Client Access*</label>
        <fox-select
            [disabled]="true"
            [active]="client"
            (change)="user.clientId = $event.id"
            [items]="clients"
        >
        </fox-select>
      </div>

      <!-- Roles -->
      <div class="form-element">
        <label>User Type*</label>
        <form-dropdown
            [title]="'Select'"
            [active]="user.roles[0]"
            (typeChanged)="selectRole($event)"
            [options]="roles"
        >
        </form-dropdown>
      </div>
    </div>

    <fox-button
        [value]="'Update'"
        [disabled]="isFormInvalid()"
        [design]="'special'"
    ></fox-button>
  </form>
</div>
