<div class="user-container">

  <form
    (ngSubmit)="updateUser()"
    class="form"
    novalidate>

    <div class="form-group" [formGroup]="userForm">
      <!-- Email -->
      <div  class="form-element">
        <label for="email">Email</label>
        <input
          disabled
          id="email"
          type="email"
          class="form-control"
          [(ngModel)]="user.email"
          formControlName="email"
          placeholder="Email">

        <div ngxErrors="email">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
          <div class="field-error"  ngxError="email" when="dirty">
            Invalid value
          </div>
        </div>
      </div>

      <!--Client Access -->
      <div class="form-element">
        <label>Client Access*</label>
        <fox-select
          [disabled]="true"
          [active]="client"
          (change)="user.clientId = $event.id"
          [items]="clients"
        >
        </fox-select>
      </div>

      <!-- Roles -->
      <div class="form-element">
        <label>User Type*</label>
        <form-dropdown
            [title]="'Select'"
            [active]="user.roles[0]"
            (typeChanged)="selectRole($event)"
            [options]="roles"
        >
        </form-dropdown>
      </div>
    </div>

    <fox-button
      [value]="'Update'"
      [disabled]="isFormInvalid()"
      [design]="'special'"
    ></fox-button>
  </form>
</div>
