<ngx-datatable
            class="material"
            [rows]="rows"
            [rowHeight]="'auto'"
          
            >
                <ngx-datatable-column [width]="1000"  [checkboxable]="true" >
                     <template  let-row="row"  ngx-datatable-cell-template>
                        <!--<span (click)="sort()">Event Name</span>-->
                        <!--<div class="form-group"><input 
                            [ngModel]='val'
                            (ngModelChange)='dataFilter($event, column["prop"])' 
                            type="text" 
                            placeholder="Search by {{column['name']}}"
                            class="form-control">
                        </div>-->
             <a style="text-decoration: none" [routerLink]="[row.id,'experience']"> 
                 
                           {{row.name}}  &nbsp;&nbsp;&nbsp;&nbsp; 
                           {{row.startTime | date}} &nbsp;&nbsp;&nbsp;&nbsp; 
                           {{row.tags}} 
                           </a>
                           <div class="dropdown pull-right">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="">Edit</a></li>
    <li><a href="">Clone</a></li>
        <li><a href="">Archive</a></li>
    <li><a href="">Assign Users</a></li>
  </ul>
</div>
                           <br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{row.experiences.length}}  Experiences 
                       
                        


                    </template>   
                    <!--<template let-value="value"  ngx-datatable-cell-template>
                        {{value}}
                    </template>-->
                </ngx-datatable-column>
                <!--<ngx-datatable-column name="name">
                    <template let-row="row" ngx-datatable-cell-template >
                        Client Name
                    </template>
                     <template let-value="value"  ngx-datatable-cell-template>
                        {{value}}
                    </template>
                </ngx-datatable-column>-->
                <!--<ngx-datatable-column name="Brand">
                <template let-row="row" ngx-datatable-cell-template >
                    Brand
                </template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Date" prop="startTime">
                    <template let-sort="sort" let-row="row" let-column="column" ngx-datatable-cell-template >
                        <span (click)="dateSort(sort)">Date</span>
                    </template>
                    <template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ value | amDateFormat:'MMM DD YYYY' }}
                    </template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Complete">
                <template let-row="row" ngx-datatable-cell-template >
                    50%
                </template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Clone">
                <template let-row="row" ngx-datatable-cell-template >
                    Clone
                </template>
                </ngx-datatable-column>
                <ngx-datatable-column name="">
                <template let-row="row" let-value="value" prop="id">
                     <a [routerLink]="['/event', value.id]">
                        <i class="fa fa-edit"></i>
                    </a>
                </template>
                </ngx-datatable-column>-->
            </ngx-datatable>

            