<div class="client-container">
  <form
      *ngIf="clientForm"
      (ngSubmit)="updateClient()"
      class="form"
      novalidate>

    <div [formGroup]="clientForm">
      <!-- Logo -->
      <div class="form-element">
        <label style="font-size: 22px">Client logo</label>
        <div>
          <img src="{{ logoBytes || client?.logo }}" *ngIf="logoBytes || client?.logo">
          <a href="javascript:void(0)" *ngIf="logoBytes || client?.logo" (click)="removeLogo()">x</a>
        </div>
        <upload-button (imgUploaded)="onImgUploaded($event)"></upload-button>
      </div>

      <form-input
          [control]="clientForm.get('name')"
          title="Client Name*">
      </form-input>

      <form-input
        [control]="clientForm.get('email')"
        title="Email">
      </form-input>

      <!-- Address -->
      <div class="form-element">
        <label for="address">Address</label>
        <input
            id="address"
            type="text"
            class="form-control input"
            [(ngModel)]="client.address"
            formControlName="address"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="off"
            #address
            placeholder="Search for Location"
            alt="client.address">

        <div ngxErrors="address">
          <div ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <form-input
        [control]="clientForm.get('phone')"
        title="Phone">
      </form-input>

      <form-input
        [control]="clientForm.get('freshBooks')"
        title="FreshBook Url">
      </form-input>

      <!-- Social Accounts -->
      <div class="form-element" formArrayName="socialAccounts">
        <label>Social Accounts</label>

        <div class="" *ngFor="let account of socialAccounts.controls; let i = index">
          <input
              type="text"
              class="form-control input"
              [(ngModel)]="client.socialAccounts[i]"
              [formControl]="account"
              placeholder="Social Account Url">
          <a href="javascript:void(0)" (click)="removeSocialAccount(i)">x</a>
        </div>

        <div>
          <a class="add-button" href="javascript:void(0)" (click)="addSocialAccount()">+ add another</a>
        </div>
      </div>

      <div class="form-element" isAllowed="CreateEditSocialIntegrations">
        <label>Social Integrations</label>
        <div class="social-integrations" *ngFor="let social of socialIntegrations">
          <img (click)="auth(social)" [src]="social.iconPath" alt="">
          <a href="javascript:void(0)" (click)="auth(social)">{{ social.name }}</a>
          <a href="javascript:void(0)" (click)="cancelAuth(social)">x</a>
        </div>
      </div>
    </div>

    <div>
      <a
          href="javascript:void(0)"
          *ngIf="client"
          isAllowed="ViewLicenseList"
          [routerLink]="['/admin/client', client.id, 'license']">Client licenses</a>
    </div>

    <div>
      <fox-button
          [value]="'UPDATE'"
          [disabled]="clientForm.invalid"
          [design]="'special'"
      ></fox-button>
    </div>
  </form>
</div>
