<h1>{{ client?.displayName }}</h1>

<img src="{{ client?.logo }}" alt="">

<form
  (ngSubmit)="updateClient()"
  novalidate>

  <div [formGroup]="clientForm">
    <!-- Logo -->
    <div>
      <label for="logoBytes">Logo</label>
      <input
        id="logoBytes"
        type="file"
        accept="image/*"
        (change)="extractLogo($event)"
        formControlName="logoBytes">
    </div>

    <!-- Name -->
    <div>
      <label for="name">Client Name</label>
      <input
        id="name"
        type="text"
        [(ngModel)]="client.name"
        formControlName="name"
        placeholder="Name">

      <div ngxErrors="name">
        <div ngxError="required" when="touched">
          Field is required
        </div>
      </div>
    </div>

    <!-- Display Name -->
    <div>
      <label for="displayName">Display Name</label>
      <input
        id="displayName"
        type="text"
        [(ngModel)]="client.displayName"
        formControlName="displayName"
        placeholder="Display Name">

      <div ngxErrors="displayName">
        <div ngxError="required" when="touched">
          Field is required
        </div>
      </div>
    </div>

    <!-- Email -->
    <div>
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        [(ngModel)]="client.email"
        formControlName="email"
        placeholder="Email">

      <div ngxErrors="email">
        <div ngxError="required" when="touched">
          Field is required
        </div>
        <div ngxError="email" when="dirty">
          Invalid value
        </div>
      </div>
    </div>

    <!-- Address -->
    <div>
      <label for="address">Address</label>
      <input
        id="address"
        type="text"
        [(ngModel)]="client.address"
        formControlName="address"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        #address
        placeholder="Search for Location">

      <div ngxErrors="address">
        <div ngxError="required" when="touched">
          Field is required
        </div>
      </div>
    </div>

    <!-- Phone -->
    <div>
      <label for="phone">Phone</label>
      <input
        id="phone"
        type="text"
        [(ngModel)]="client.phone"
        formControlName="phone"
        placeholder="Phone">

      <div ngxErrors="phone">
        <div ngxError="required" when="touched">
          Field is required
        </div>
      </div>
    </div>

    <!-- FreshBook -->
    <div>
      <label for="freshBooks">FreshBook Url</label>
      <input
        id="freshBooks"
        type="text"
        [(ngModel)]="client.freshBooks"
        formControlName="freshBooks"
        placeholder="FreshBook Url">

      <div ngxErrors="freshBooks">
        <div ngxError="required" when="touched">
          Field is required
        </div>
      </div>
    </div>

    <!-- Social Accounts -->
    <div formArrayName="socialAccounts">
      <label>Social Accounts</label>

      <div *ngFor="let account of socialAccounts.controls">
        <input
          type="text"
          [formControl]="account"
          placeholder="Social Account Url">
      </div>

      <div>
        <a href="javascript:void(0)" (click)="addSocialAccount()">add</a>
      </div>
    </div>
  </div>

  <!-- Licenses -->
  <div>
    <label *ngFor="let license of licenses">
      <input
        type="checkbox"
        name="selectedLicenses[]"
        [(ngModel)]="license.checked">
      {{ license.name }}
    </label>
  </div>

  <div>
    <input
      type="submit"
      [disabled]="clientForm.invalid"
      value="Update">
  </div>
</form>
