<div class="container">
  <a href="javascript:void(0)" [routerLink]="['/admin/clients']">Back to all Clients</a>

  <h1>{{ client?.name }}</h1>

  <form
    (ngSubmit)="updateClient()"
    class="form"
    novalidate>

    <div [formGroup]="clientForm">
      <!-- Logo -->
      <label style="font-size: 18px">Client logo</label>

      <img src="{{ logoBytes || client?.logo }}" *ngIf="logoBytes || client?.logo" style="max-height: 50px;">
      <a href="javascript:void(0)" *ngIf="logoBytes || client?.logo" (click)="removeLogo()">x</a>

      <upload-button (imgUploaded)="onImgUploaded($event)"></upload-button>

      <!-- Name -->
      <div class="form-element">
        <label for="name">Client Name</label>
        <input
          id="name"
          type="text"
          class="form-control input"
          [(ngModel)]="client.name"
          formControlName="name"
          placeholder="Name">

        <div ngxErrors="name">
          <div class="field-error"  ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="form-element">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          class="form-control input"
          [(ngModel)]="client.email"
          formControlName="email"
          placeholder="Email">

        <div ngxErrors="email">
          <div class="field-error"  ngxError="required" when="touched">
            Field is required
          </div>
          <div class="field-error"  ngxError="email" when="dirty">
            Invalid value
          </div>
        </div>
      </div>

      <!-- Address -->
      <div class="form-element">
        <label for="address">Address</label>
        <input
          id="address"
          type="text"
          class="form-control input"
          [(ngModel)]="client.address"
          formControlName="address"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="off"
          #address
          placeholder="Search for Location">

        <div ngxErrors="address">
          <div  ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- Phone -->
      <div class="form-element">
        <label for="phone">Phone</label>
        <input
          id="phone"
          type="text"
          class="form-control input"
          [(ngModel)]="client.phone"
          formControlName="phone"
          placeholder="Phone">

        <div ngxErrors="phone">
          <div ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- FreshBook -->
      <div class="form-element">
        <label for="freshBooks">FreshBook Url</label>
        <input
          id="freshBooks"
          type="text"
          class="form-control input"
          [(ngModel)]="client.freshBooks"
          formControlName="freshBooks"
          placeholder="FreshBook Url">

        <div ngxErrors="freshBooks">
          <div ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- Social Accounts -->
      <div class="form-element" formArrayName="socialAccounts">
        <label>Social Accounts</label>

        <div *ngFor="let account of socialAccounts.controls; let i = index">
          <input
            type="text"
            class="form-control input"
            [(ngModel)]="client.socialAccounts[i]"
            [formControl]="account"
            placeholder="Social Account Url">
          <a href="javascript:void(0)" (click)="removeSocialAccount(i)">x</a>
        </div>

        <div>
          <a href="javascript:void(0)" (click)="addSocialAccount()">add</a>
        </div>
      </div>
    </div>

    <!-- Licenses -->
    <div class="form-group">
      <label *ngFor="let license of licenses; let i = index">
        <input
          type="checkbox"
          name="selectedLicenses[]"
          class="form-control input checkbox"
          (change)="selectLicense(i, $event.target.checked)"
          [checked]="license.checked">
        {{ license.name }}
      </label>
    </div>

    <div>
      <button
        type="submit"
        [disabled]="clientForm.invalid"
        class="create-button">UPDATE</button>
    </div>
  </form>
</div>
