<section>
  <table style="width: 100%">
    <thead>
    <tr>
      <th></th>
      <th class="table-header" *ngFor="let col of cols">
        <div>
          <div *ngIf="!col.searchable">{{col.title}}</div>
          <fox-input [title]="col.title"
                     (input)="searchQuery[col.id].next(searchValue)"
                     (Change)="searchValue=$event"
                     *ngIf="col.searchable"></fox-input>
          <div class="sorting"
               (click)="changeSort(col)"
               *ngIf="!col.notSortable">
            <div [class]="col.sort ? 'asc' : 'desc'"></div>
          </div>
        </div>
      </th>
      <th *ngIf="actions"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-row" *ngFor="let row of rows">
      <td>
        <checkbox
          (toggle)="row.checked=$event"></checkbox>
        <br>
      </td>
      <td
        *ngFor="let col of cols"
        (click)="clickRow(row)"
        [innerHtml]="col.format == 'myFirstName' ? (row | myFormatCell:col.format:col.formatOptions)
                                          : (row[col.id] | myFormatCell:col.format:col.formatOptions)"
      >
      </td>
      <td *ngIf="actions">
        <table-dropdown *ngIf="actions.length > 1"
                        [title]="'Action'"
                        [options]="actions"
                        [size]="'medium'"
                        (typeChanged)="changeAction(row.id, $event)">
        </table-dropdown>
        <fox-button *ngIf="actions.length === 1"
                    [value]="actions[0].title"
                    (click)="changeAction(row.id, actions[0])"
                    [design]="'gray'"></fox-button>
      </td>
    </tr>
    </tbody>
  </table>
</section>

<div class="pagination">
  <section>
    <div class="arrow-left" (click)="prevPage()"></div>
    <input class="paging" type="number"
           (change)="changeLimit($event.target.value)" [(ngModel)]="limit">

    {{ startOffset }}-{{ endOffset }} of {{ rowsCount }}

    <div class="arrow-right" (click)="nextPage()"></div>
  </section>
</div>
