<section>
  <table style="width: 100%">
    <thead>
    <tr>
      <th></th>
      <th class="table-header" *ngFor="let col of cols">
        <div>
          <!--<regular-input [title]="col.title" [col]="col"-->
                       <!--(input)="searchQuery[col.id].next(searchValue)"-->
                       <!--(Change)="searchValue=$event"-->
                       <!--(sortChange)="changeSort($event)"-->
          <!--&gt;</regular-input>-->
          <fox-input [title]="col.title" (input)="searchQuery[col.id].next(searchValue)"
                     (Change)="searchValue=$event"></fox-input>
          <div class="sorting" (click)="changeSort(col)">
            <div [class]="col.sort ? 'asc' : 'desc'"></div>
          </div>
        </div>
      </th>
      <th *ngIf="actions"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-row" *ngFor="let row of rows">
      <td>
        <checkbox
            (toggle)="row.checked=$event"></checkbox>
        <br>
      </td>
      <td
        *ngFor="let col of cols"
        (click)="clickRow(row)"
        [innerHtml]="col.format == 'myFirstName' ? (row | myFormatCell:col.format:col.formatOptions)
                                          : (row[col.id] | myFormatCell:col.format:col.formatOptions)"
      >
      </td>
      <td *ngIf="actions">
        <table-dropdown
          [title]="'Action'"
          [options]="row.id === userId ? activeUserActions : actions"
          [size]="'medium'"
          (typeChanged)="changeAction(row.id, $event)"
        ></table-dropdown>
      </td>
    </tr>
    </tbody>
  </table>
</section>

<div class="pagination">
  <section>
    <div class="arrow-left" (click)="prevPage()"></div>
    <input class="paging" type="number"
           (change)="changeLimit($event.target.value)" [(ngModel)]="limit">

    {{ startOffset }}-{{ endOffset }} of {{ rowsCount }}

    <div class="arrow-right" (click)="nextPage()"></div>
  </section>
</div>
