<section>
  <table style="width: 100%">
    <thead>
    <tr>
      <th></th>
      <th class="table-header" *ngFor="let col of cols">
        <div>
          <img (click)="openSearch(col)" [hidden]="!col.searchable" style="cursor: pointer" src="../../../assets/img/column-search.svg">
          <label [hidden]="col.isSearchOpen" (click)="changeSort(col)">{{ col.title }}</label>
          <input *ngIf="col.searchable && col.isSearchOpen"
                 type="text"
                 placeholder="Search"
                 class="header-input"
                 (input)="searchQuery[col.id].next($event.target.value)">
          <div (click)="changeSort(col)" [class]="col.sort ? 'asc' : 'desc'"></div>
        </div>
      </th>
      <th *ngIf="actions"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-row" *ngFor="let row of rows">
      <td>
        <input
          type="checkbox"
          name="checkbox"
          class="regular-checkbox"
          [(ngModel)]="row.checked">
        <br>
      </td>
      <td
        *ngFor="let col of cols"
        (click)="clickRow(row)"
        [innerHtml]="row[col.id] | myFormatCell:col.format:col.formatOptions">
      </td>
      <td *ngIf="actions">
        <table-dropdown
          [title]="'Action'"
          [options]="actions"
          [size]="'medium'"
          (typeChanged)="changeAction(row.id, $event)"
        ></table-dropdown>
      </td>
    </tr>
    </tbody>
  </table>
</section>

<section>
  Rows per page:

  <select (change)="changeLimit($event.target.value)" [(ngModel)]="limit">
    <option
      *ngFor="let limit of limits"
      [value]="limit">
      {{ limit }}
    </option>
  </select>

  {{ startOffset }}-{{ endOffset }} of {{ rowsCount }}

  <a
    href="javascript:void(0);"
    (click)="prevPage()">
    prev
  </a>

  <a
    href="javascript:void(0);"
    (click)="nextPage()">
    next
  </a>
</section>
