<div id="login">
    <div class="loginPop">

   
    <div class="loginWrapper col-lg-4 col-md-4 col-sm-7" [ngClass]="{'shake': shake}">
        <div class="logoWrapper" >
            <img src="assets/login-logo.jpg" alt="FoxTales Logo">
            <span class="tale">Tale</span>
            <span class="tracker">Tracker</span>
        </div>
        <div class="loginFormWrapper">
            
            <div class="form-group">
                <input type="text" class="form-control" id="usr" name="usr"
                placeholder="Username/E-mail" required [(ngModel)]="username" [ngClass]="{'ng-invalid': invalidCreds}">
            </div>  
   
            <div class="form-group">
                <input type="password" class="form-control" id="pass"  name="pass"
                placeholder="Password" required  [(ngModel)]="password" [ngClass]="{'ng-invalid': invalidCreds}">
            </div>
            <div class="form-group login-misc">
                <div class="pull-left">
                    <input type="checkbox" class="" id="rememberme">
                    <label for="rememberme" class="rememberme">Remember Me</label>
                </div>
                <div  class="pull-right">
                    <a routerLink="/forgot-password" class="forgot-pass">forgot password?</a>
                </div>
                
            </div>
            <div class="form-group loginBtn">
                <button (click)="login()">Login</button>
            </div>
            <div class="alert alert-danger" [hidden]="!invalidCreds">
                Invalid Credentials
            </div>
        </div>
        

        <!-- Login other ways -->
        <div class="loginAlt">
            <div><button class="fb-btn">Login with Facebook</button></div>
            <div><button class="gplus-btn">Login with Google+</button></div>
        </div>
    </div>
    </div>
    <footer>
        <p>&#169; 2016 FoxTales, LLC. Rights Reserved. TaleTracker is a trademark of FoxTales</p>
    </footer>
     
</div>