.list-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  & > div:first-child {
    display: flex;
    flex-direction: row;
    width: 240px;
    align-items: center;
    justify-content: space-between;
  }
}

.dr-actions {
  display: flex;
  justify-content: flex-end;
  height: 80px;
}
