<div toastContainer class="toast-top-center"></div>

<div class="list-container">
  <div class="list-menu">
    <div>
      <label>Sort by</label>
      <dropdown
          [title]="'Start Date'"
          [options]="sortActions"
          [size]="'big'"
          (typeChanged)="onSortChanged($event)"
      ></dropdown>
    </div>
    <div class="create-experience">
      <search-input [title]="'find experience'" (Change)="onSearchChange($event)"></search-input>
    </div>

  </div>
  <experience *ngFor="let experience of Experience" [experience]="experience"
              [experienceActions]="experienceActions" [deleteModal]="deleteModal"></experience>

  <experience-delete-modal #deleteModal (delete)="onDeleteExperience()"></experience-delete-modal>
</div>
