<div toastContainer class="toast-top-center"></div>

<div class="list-container">
  <div class="list-menu">
    <div>
      <h2 class="main-label">Experience List</h2>
    </div>
    <div class="create-experience">
      <button type="button" class="creation-button">
          <label>Create New Experience</label></button>
    </div>

  </div>
  <div *ngFor="let experiences of Experience">
    <div class="experience-container">
      <div>
        <div class="main-info">
          <div>
            <checkbox></checkbox>

            <img *ngIf="status === -1" src="../../../assets/img/attention.svg" alt="">
            <img *ngIf="status === 1" src="../../../assets/img/complete.svg" alt="">
            <a [routerLink]="['/experience', experiences.id, 'content']">{{experiences.name}}</a>

            <!--<a [routerLink]="['/experience', experiences.id, 'content']"><label class="name">{{experiences.name}}</label></a>-->
            <label *ngFor="let brand of experiences.brands">#{{brand}}</label>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
