.client-container {
  margin: 30px 0;
}

.form {
  width: 400px;
}

upload-button {
  height: 120px;
}

.form-element {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 15px;
  padding-bottom: 20px;

  label {
    font-family: AvenirNext-DemiBold;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: #4b535c;
    margin-bottom: 10px;
  }

  label.error {
    color: #ff3328;
  }

  input {
    width: 400px;
    height: 65px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #3d3d3d;
    font-family: OpenSans;
    font-size: 16px;
    color: #3d3d3d;
    padding: 6px 22px;
  }

  input:focus {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #3d3d3d;
  }

  .search-box,.close-icon,.search-wrapper {
    position: relative;
    padding: 10px;
  }
  .search-wrapper {
    width: 500px;
    margin: auto;
    margin-top: 50px;
  }

  .close-icon {
    border:1px solid transparent;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    outline: 0;
    height: 0;
    cursor: pointer;
  }
  .close-icon:after {
    content: "X";
    position: absolute;
    z-index: 1;
    right: 15px;
    bottom: 43px;
    margin: auto;
    color: #ff3328;
    cursor: pointer;
    font-size: 14px;
  }

  .ng-touched.ng-invalid {
    border-color: #ff3328;
    border-radius: 3px;
    border: solid 1px #ff3328;
    font-family: OpenSans;
    font-size: 16px;
    color: #ff3328;
  }

  .success:after {
    content: '\2714';
    font-size: inherit;
    position: absolute;
    height: 5px;
    width: 5px;
    top: 50px;
    left: 375px;
    color: #2dcc70;
  }

  input:disabled {
    font-family: OpenSans;
    font-size: 16px;
    opacity: 0.5;
  }

  .error-text {
    color: #ff3328;
    font-family: Avenir;
    font-size: 10px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 88px;
    border-radius: 6px;
    background-color: #ffffff;
    border: dashed 1px #7a8693;

    img {
      width: 33px;
      height: 33px;
    }

    a {
      margin-left: 10px;
      font-family: WorkSans;
      font-size: 16px;
      line-height: 1;
      color: #626d78;
    }
  }

  .social-accounts {
    display: flex;
    padding-bottom: 20px;

    img {
      margin: 10px;
    }

    a {
      align-self: center;
    }
  }
}

.create-button {
  width: 204px;
  height: 54px;
  border-radius: 6px;
  background-color: #2fd976;
  color: white;
  font-size: 16px;
  margin-top: 30px;
}

button.create-button[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

.field-error {
  font-family: Avenir;
  font-size: 16px;
  color: #ff3328;
  margin-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;

  & > label {
    font-family: Avenir;
    font-size: 16px;
    font-weight: 900;
    line-height: 2.4;
    letter-spacing: 1px;
    margin-bottom: 0;
  }

  .license {
    display: flex;
    padding-right: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    label {
      font-size: 16px;
      font-family: Avenir;
      align-self: center;
      margin-left: 10px;
      margin-bottom: 0;
    }

    div {
      display: flex;
      padding-top: 15px;
    }
  }
}

.regular-checkbox {
  height: inherit;
  width: inherit;
  top: inherit;
  left: inherit;
  -webkit-appearance: none;
  background-color: white;
  border: 2px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked {
  background-color: white;
  border: 1px solid #2dcc70;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.9);
  color: white;
}

.regular-checkbox:checked:after {
  content: '\2714';
  font-size: inherit;
  position: absolute;
  top: 1px;
  left: 5px;
  color: #2dcc70;
}
