.slidemenu #slide-item-1.active ~ .slider .bar {
  width: 50px;
}

.slidemenu #slide-item-2.active ~ .slider .bar {
  width: 70px;
}

.slidemenu #slide-item-3.active ~ .slider .bar {
  width: 90px;
}

.slidemenu #slide-item-4.active ~ .slider .bar {
  width: 180px;
}

.slidemenu label:nth-child(8) {
  width: 210px;
}

.slidemenu label:nth-child(6) {
  width: 140px;
}

.actions {
  position: absolute;
  right: 1px;
  bottom: 5px;
}

:host /deep/ .actions .btn-group {
  > div {
    background: transparent !important;
    width: 120px !important;
  }

  label {
    margin-bottom: 0;
  }

  span {
    display: none !important;
  }

  ul {
    width: 120px !important;
    min-width: 120px !important;
  }
}

.actions > div {
  cursor: pointer;
  padding-bottom: 10px;
  font-weight: 100;
  font-family: WorkSans;
  font-size: 16px;
  color: #343a40;
}