.slidemenu #slide-item-1:checked ~ .slider .bar {
  margin-left: 0%;
  width: 40px;
}

// Users
.slidemenu #slide-item-2:checked ~ .slider .bar {
  min-width: 50px;
  width: 6%;
  margin-left: 7%;
}

// Clients
.slidemenu #slide-item-3:checked ~ .slider .bar {
  min-width: 70px;
  width: 8%;
  margin-left: 16%;
}

// Locations
.slidemenu #slide-item-4:checked ~ .slider .bar {
  min-width: 100px;
  width: 10%;
  margin-left: 25%;
}

//Integrations+hardware
.slidemenu #slide-item-5:checked ~ .slider .bar {
  margin-left: 45%;
}

.slidemenu #slide-item-6:checked ~ .slider .bar {
  margin-left: 50%;
}

.slidemenu #slide-item-7:checked ~ .slider .bar {
  margin-left: 60%;
}

.actions {
  position: absolute;
  right: 1px;
  bottom: 5px;
}

.slidemenu label:last-child {
  width: 210px;
}

:host /deep/ .actions .btn-group {
  > div {
    background: transparent !important;
    width: 120px !important;
  }

  label {
    margin-bottom: 0;
  }

  span {
    display: none !important;
  }

  ul {
    width: 120px !important;
    min-width: 120px !important;
  }
}

.actions > div {
  cursor: pointer;
  padding-bottom: 10px;
  font-weight: 100;
  font-family: WorkSans;
  font-size: 16px;
  color: #343a40;
}