<nav class="slidemenu">

  <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle"
         [routerLink]="['/admin/users']"
         [attr.checked]="curLocation && curLocation.indexOf('/admin/user') >= 0 ? '' : null"/>
  <label for="slide-item-1"><span >Users</span></label>

  <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle"
         [routerLink]="['/admin/clients']"
         [attr.checked]="curLocation && curLocation.indexOf('/admin/client') >= 0 ? '' : null"/>
  <label for="slide-item-2"><span >Clients</span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><span>Locations</span></label>

  <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle"/>
  <label for="slide-item-4"><span [routerLink]="['/admin/devices']">Integrations+hardware</span></label>

  <div class="clear"></div>

  <div class="slider">
    <div class="slide-line">
      <div class="bar"></div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
