<h3>{{galleryId}}</h3>

<div>
  <div class="group-container">
    <div class="filters">
      <div class="main-filters">
        <div>
          <div>
            <label>Sort by</label>
            <dropdown
              [title]="'Upcoming'"
              [options]="sortActions"
              [size]="'big'"
              (typeChanged)="onSortChanged($event)"
            ></dropdown>
          </div>
          <div>
            <label>Filter by</label>
            <dropdown
              [title]="'Upcoming'"
              [options]="sortActions"
              [size]="'big'"
              (typeChanged)="onSortChanged($event)"
            ></dropdown>
          </div>
        </div>

        <fox-button
          [value]="'Download Gallery'"
          [design]="'primary'"
        ></fox-button>
      </div>

    </div>
    <gallery-item-list [galleryItems]="galleryItems"></gallery-item-list>
    <download-modal [galleryItems]="galleryItems" #atgModal></download-modal>

  </div>

</div>
