$imgWidth: 250px;
$imgHeight: 256.4px;

.thumbnail-container {
  position: relative;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  justify-content: space-between;
  background-color: transparent;

  div {
    padding-bottom: 12px;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: $imgHeight;
    width: $imgWidth;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f7;

    checkbox {
      position: absolute;
      top: 11px;
      left: 11px;
      height: 32px;
      width: 32px;
      font-size: 18px
    }

    img {
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }

    div.buttons {
      position: absolute;
      display: flex;
      width: $imgWidth;
      justify-content: center;
      bottom: 360px - $imgHeight;
    }

    div.confirm {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32.8px;
      border-radius: 16px;
      background-color: #2fd976;
      margin-right: 10%;
      padding-bottom: 0;
      cursor: pointer;
    }

    div.decline {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32.8px;
      border-radius: 16px;
      background-color: #ff3328;
      padding-bottom: 0;
      cursor: pointer;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;

    div.title {
      font-family: Avenir-Book;
      font-size: 26px;
      line-height: 1;
      color: #343a40;
      align-self: flex-start;
    }

    div.type {
      font-family: WorkSans;
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.6px;
      color: #b2bac4;
      align-self: flex-start;
      padding-bottom: 24px;
    }
  }

  .progress-container {
    display: flex;
    align-items: center;
    padding-bottom: 0;

    .progress {
      height: 4px;
      width: 100%;
      margin-right: 13px;
      border-radius: 5px;
      background-color: rgba(178, 186, 196, 0.42);
      padding-bottom: 0;
    }

    .progress-bar-success {
      background-color: #68c4ff;
    }

    .progress-value {
      font-family: WorkSans;
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.6px;
      color: #b2bac4;
    }
  }
}
