.thumbnail-container {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;

  .content {
    width: inherit;
    height: inherut;
    background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .info {
    display: flex;
    flex-direction: column;
  }
}
