button {
  width: inherit;
  height: inherit;
  font-size: inherit;
  background-color: inherit;
  cursor: pointer;
}

.add-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: Avenir-Book;
  border-radius: 6px;
  background-color: #f57f17;
  cursor: pointer;


  &:hover {
    transition: .3s all;
    background-color: #ffb536;
  }

  &:active {
    transition: .3s all;
    background-color: #f56c17;
  }

  img {
    width: 14px;
    height: 14px;
  }

  label {
    cursor: pointer;
    margin-bottom: 0;
  }
}
