<div class="container">
  <form
    (ngSubmit)="addDevice(deviceForm.value)"
    class="form"
    novalidate>

    <div [formGroup]="deviceForm">
      <!-- First Name -->
      <div class="form-element">
        <label for="name">Name</label>
        <input
          id="name"
          type="text"
          formControlName="name"
          placeholder="Name">

        <div ngxErrors="name">
          <div ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- Hub -->
      <div>
        <label for="hubId">Hub</label>
        <select
          id="hubId"
          formControlName="hubId">
          <option value="test_1">Test 1</option>
        </select>

        <div ngxErrors="hubId">
          <div ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- Product -->
      <div>
        <label for="productId">Product</label>
        <select
          id="productId"
          formControlName="productId">
          <option *ngFor="let p of products" [value]="p.id">{{p.name}}</option>
        </select>

        <div ngxErrors="productId">
          <div ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- Location -->
      <div>
        <label for="locationId">Location</label>
        <select
          id="locationId"
          formControlName="locationId">
          <option *ngFor="let l of locations" [value]="l.id">{{l.name}}</option>
        </select>

        <div ngxErrors="locationId">
          <div ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- Client -->
      <div>
        <label for="clientId">Client</label>
        <select
          id="clientId"
          formControlName="clientId">
          <option *ngFor="let c of clients" [value]="c.id">{{c.name}}</option>
        </select>

        <div ngxErrors="clientId">
          <div ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

    </div>

    <div>
      <button
        type="submit"
        [disabled]="deviceForm.invalid"
        class="create-button">CREATE
      </button>
    </div>
  </form>
</div>
