<div class="cardContainer">
  <div class="back">
    <div class="content">
      <div class="field-name">
        Canon  EOS 70D
      </div>
      <div class="field-value">
        23 hours ago
      </div>
      <hr>
      <div>
        <div class="field-name">Device Type</div>
        <div class="field-value">DI</div>
      </div>
      <div>
        <div class="field-name">Lens</div>
        <div class="field-value">EF-S18-55mm f/3.5-5.6 IS II</div>
      </div>
      <div>
        <div class="field-name">ISO</div>
        <div class="field-value">640</div>
      </div>
      <div>
        <div class="field-name">Shutter Speed</div>
        <div class="field-value">1/160</div>
      </div>
      <div>
        <div class="field-name">Aperture</div>
        <div class="field-value">8/1</div>
      </div>
      <div>
        <div class="field-name">White Balance</div>
        <div class="field-value">Auto</div>
      </div>
      <div>
        <div class="field-name">Picture Style</div>
        <div class="field-value">Standard</div>
      </div>
      <div class="field-value alert-field">
        Alert: This device was activated on data and is unavailable for use
      </div>
    <hr>
    <div class="field-name">
      More Metadata or Notes
    </div>
    <div class="field-value">
      Alert: This device was activated on data and is unavailable for use
    </div>

    </div>
  </div>

  <fox-button
    (click)="onClose()"
    [value]="'CLOSE'"
    [design]="'primary'"
  ></fox-button>
</div>
