@import "../../../shared/styles/modal";

.modal-dialog {
  .modal-content {
    width: 600px;
  }
}

h4 {
  margin-bottom: 10px !important;
}

.modal-body {
  height: 280px;
}

.switch-container {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  height: 80px;
  flex-direction: column;

  switcher {
    font-size: 13px;
  }
}

.btn-actions {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 36px;

  fox-button {
    height: 55px;
    width: 180px;
    font-size: 16px;
  }

  .cancel {
    margin-left: 25px;
    width: 150px;
  }
}

.email-confirmation {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  div {
    font-size: 16px;
    font-family: Avenir-Book;
  }

  .email {
    width: 500px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: Avenir-Bold;

    > a {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  fox-button {
    height: 55px;
    width: 180px;
    font-size: 16px;
  }
}

:host /deep/ switcher {
  .check {
    text-align: center;
    line-height: 3;

    label {
      height: 46px;
      width: 240px;
    }
  }
}