@import "../../shared/styles/form-element";
@import "../../shared/styles/mixins";

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-width: 900px;
  max-width: 1200px;

  h2 {
    @include heading-2;
  }

  .form-element {
    width: 400px;
  }

  .line-group {
    min-width: 500px;
    max-width: 900px;

    .form-element {
      width: 200px;
    }
  }

  .form-group:first-child {
    min-width: 520px;
  }

  .form-group:last-child {
    width: 40%;
    min-width: 450px;
  }
}

fox-select {
  width: 400px;
}

fox-button {
  height: 55px;
  width: 120px;
  font-size: 16px;
}