<div class="license-container">
  <form
      (ngSubmit)="updateLicense()"
      class="form"
      novalidate>
    <div class="form-group">
      <!-- Software License -->
      <div class="form-element">
        <h1>Software License*</h1>
        <fox-select
            (change)="license.softwareLicenseTypeId = $event.id"
            [active]="activeLicenseType"
            [items]="licenseTypes">
        </fox-select>
      </div>

      <!-- License Tier -->
      <div class="form-element">
        <label>License Tier*</label>
        <fox-select
            (change)="license.tierId = $event.id"
            [active]="activeLicenseTier"
            [items]="licenseTiers">
        </fox-select>
      </div>

      <!-- License id -->
      <div class="form-element" [formGroup]="licenseForm">
        <label for="licenseIdNumber">License ID*</label>
        <input
            id="licenseIdNumber"
            type="text"
            class="form-control input"
            [(ngModel)]="license.licenseIdNumber"
            formControlName="licenseIdNumber"
            placeholder="ID number">

        <div ngxErrors="licenseIdNumber">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- Billing -->
      <div class="line-group">
        <div class="form-element">
          <label>Billing Type*</label>
          <fox-select
              (change)="license.billingTypeId = $event.id"
              [active]="activeLicenseBilling"
              [items]="licenseBilling">
          </fox-select>
        </div>
        <!-- Start Date -->
        <div class="form-element">
          <label>Start Date*</label>
          <div>
            <div class="wrap">
              <input
                  name="startDate"
                  class="picker-input"
                  [ngModel]="startDate"
                  [returnObject]="'string'"
                  [(dateTimePicker)]="startDate"
                  [mode]="'dropdown'"
                  [pickerType]="'date'"
                  placeholder="Start Date"
                  readonly>
            </div>
          </div>
        </div>

        <!-- Months -->
        <div class="form-element">
          <label>Number of months*</label>
          <form-dropdown
              [title]="'Select'"
              (typeChanged)="license.numberOfMonths = $event.id"
              [active]="activeLicenseMonths"
              [options]="months"
          >
          </form-dropdown>
          <!--<fox-select-->
              <!--(change)="license.numberOfMonths = $event.id"-->
              <!--[active]="activeLicenseMonths"-->
              <!--[items]="months">-->
          <!--</fox-select>-->
        </div>
      </div>

      <div class="form-element">
        <p>
          <checkbox (toggle)="license.autoRenew=$event" [isChecked]="true"></checkbox>
          <label>Auto-renew</label>
        </p>
      </div>


      <!-- Hardware -->
      <div class="form-element">
        <h1>Hardware License*</h1>
        <fox-select
            (change)="license.hardwareLicenseTypeId = $event.id"
            [active]="activeLicenseHardware"
            [items]="licenseHardware">
        </fox-select>
      </div>

      <!-- Serial Number -->
      <div class="form-element" [formGroup]="licenseForm">
        <label for="serial">Serial Number*</label>
        <input
            id="serial"
            type="text"
            class="form-control input"
            [(ngModel)]="license.serialNumber"
            formControlName="serialNumber"
            placeholder="Serial Number">

        <div ngxErrors="serialNumber">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <fox-button
          [value]="'DONE'"
          [design]="'special'">
      </fox-button>
    </div>

    <div class="form-group">
      <h1>Billing information</h1>
      <!-- Name -->
      <div class="form-element" [formGroup]="licenseForm">
        <label for="billingContactName">Name</label>
        <input
            id="billingContactName"
            type="text"
            class="form-control input"
            [(ngModel)]="license.billingContactName"
            formControlName="billingContactName"
            placeholder="Contact Name">

        <div ngxErrors="billingContactName">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="form-element" [formGroup]="licenseForm">
        <label for="billingContactEmail">Email</label>
        <input
            id="billingContactEmail"
            type="email"
            class="form-control input"
            [(ngModel)]="license.billingContactEmail"
            formControlName="billingContactEmail"
            placeholder="Contact Email">

        <div ngxErrors="billingContactEmail">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- Phone -->
      <div class="form-element" [formGroup]="licenseForm">
        <label for="billingContactPhone">Phone</label>
        <input
            id="billingContactPhone"
            type="text"
            class="form-control input"
            [(ngModel)]="license.billingContactPhone"
            formControlName="billingContactPhone"
            placeholder="Contact Phone">

        <div ngxErrors="billingContactPhone">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- Address -->
      <div class="form-element" [formGroup]="licenseForm">
        <label for="billingContactAddress">Address</label>
        <input
            id="billingContactAddress"
            type="text"
            class="form-control input"
            [(ngModel)]="license.billingContactAddress"
            formControlName="billingContactAddress"
            placeholder="Contact Address">

        <div ngxErrors="billingContactAddress">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
