.list-container > div:first-child {
  display: flex;
  width: 240px;
  align-items: center;
  justify-content: space-between;
}


.list-menu {
  display: flex;
  justify-content: space-between;
}
.create-event {


  add-button {
    background-color: #2fd976;
    width: 204px;
    height: 54px;
    font-size: 16px
  }
}
