<div toastContainer class="toast-top-center"></div>

<div class="list-container">
  <div class="create-event">
    <add-button
      [routerLink]="['../','create-event']"
      [value]="'Create New Event'"
    ></add-button>
  </div>
  <div class="actions">
    <div>
      <label>Sort by</label>
      <dropdown
        [title]="'Start Date'"
        [options]="sortActions"
        [size]="'big'"
        (typeChanged)="onSortChanged($event)"
      ></dropdown>
    </div>
    <div class="list-menu">
      <search-input [title]="'search event name, location, tag, or date'"
                    (Change)="onSearchChange($event)"></search-input>


    </div>
  </div>

  <event
    *ngFor="let event of Events"
    [atgModal]="atgModal"
    [deleteModal]="deleteModal"
    [event]="event"
    [eventActions]="eventActions"
    (cloneAction)="onClone($event)"
  >
  </event>

  <event-to-group-modal #atgModal [eventGroups]="eventGroups"></event-to-group-modal>
  <event-delete-modal #deleteModal (delete)="onDeleteEvent()"></event-delete-modal>

</div>

<div
  bsModal
  #cloneModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="cloneModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <span *ngIf="!clonedEvent">Clone Event</span>
          <span *ngIf="clonedEvent">Event Cloned!</span>
        </h4>
      </div>
      <div class="modal-body">
        <p *ngIf="!clonedEvent">Cloning ...</p>

        <div *ngIf="clonedEvent">
          <div class="form-element">
            <label>Name</label>
            <input type="text" [(ngModel)]="clonedEvent.name">
          </div>
          <div class="form-element">
            <label>Start Date</label>
            <input
              class="picker-input"
              [ngModel]="startDate"
              [returnObject]="'string'"
              [(dateTimePicker)]="startDate"
              [mode]="'dropdown'"
              [pickerType]="'date'"
              placeholder="Start Date"
              readonly>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="clonedEvent"
          type="button"
          class="btn btn-primary"
          (click)="saveClonedEvent()">Save & Close</button>

        <button
          *ngIf="clonedEvent"
          type="button"
          class="btn btn-default"
          [routerLink]="['/events/edit-event', clonedEvent.id]">Edit Event</button>
      </div>
    </div>
  </div>
</div>