<div>
  <div class="group-container">
    <div class="filters">
      <div>
      <div>
        <label>Sort by</label>
        <dropdown
          [title]="'Upcoming'"
          [options]="sortActions"
          [size]="'big'"
          (typeChanged)="onSortChanged($event)"
        ></dropdown>
      </div>
      <div>
        <label>Filter by</label>
        <dropdown
          [title]="'Upcoming'"
          [options]="sortActions"
          [size]="'big'"
          (typeChanged)="onSortChanged($event)"
        ></dropdown>
      </div>
      </div>
      <search-input [title]="'find gallery'"
                    (Change)="onSearchChange($event)"></search-input>

    </div>
    <gallery-item-list [galleryItems]="galleryItems" ></gallery-item-list>
  </div>

</div>
