.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  background-color: #f8f8f8;
  font-family: Avenir-Medium;
  color: #687078;

  > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
  }

  .link-bar {
    display: flex;
    width: 50%;
    justify-content: space-around;

    a {
      font-family: Avenir;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: #4b535c;
      margin: auto;
    }

    nav {
      display: flex;
      margin: auto;
      min-width: 30%;
      width: 70%;
      justify-content: space-between;

      & :nth-child(2) {
        color: #f06a14;
      }

      & :last-child {
        display: flex;
        margin: auto;
        color: #fc181f;

        div {
          margin: auto;
          margin-right: 5px;
        }
      }
    }
  }

  .profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 270px;

    .user-img {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 5px;
    }

    .user-profile {
      display: flex;
      justify-content: space-between;
      width: 170px;

      img {
        cursor: pointer;
        width: 30px;
        height: 30px;
      }

      div {
        div.user-name {
          font-family: Avenir-Medium;
          font-size: 16px;
          font-weight: 500;
          line-height: 1;
          letter-spacing: 0.5px;
          color: #343a40;
          cursor: pointer;
        }

        div.user-name:after {
          position: relative;
          content: "";
          display: inline-block;
          bottom: 4px;
          left: 11px;
          width: 0.4em;
          height: 0.4em;
          border-right: 0.1em solid  #37394c;
          border-top: 0.1em solid  #37394c;
          transform: rotate(135deg);
          opacity: 0.8;
          margin-right: 0.5em;
        }

        div.user-design-name {
          font-family: WorkSans;
          font-size: 12px;
          line-height: 1;
          letter-spacing: 0.4px;
          color: #7a8693;
        }
      }
    }
  }

  .logo {
    width: 43px;
    height: 38px;
  }

  #circle {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  search-bar {
    width: 0;
    height: 40px;
  }
}

