.upload-button {
  display: flex;
  flex-direction: row;
  height: 139px;
  width: 545px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 16px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  color: black;
  background-color: white;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #F0F0F0;
}

.input-block {
  display: flex;
  flex-direction: row;
}

.inner-text {
  font-family: 'Work Sans';
  margin-top: 15px;
  margin-left: 20px;
}

.inner-text.default {
  font-size: 12px;
}

.file-area {
  width: 100%;
  position: relative;

  input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.upload-button.success {
  border: 2px solid #2fd976 !important;

  & .success {
    color: #2fd976;
    font-size: 14px;
  }
}

.upload-button.fail {
  border: 2px solid #fc5d5d !important;

  & .fail {
    color: #fc5d5d;
    font-size: 14px;
  }
}

.loading {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
