:host /deep/ .moment-date {
  display: none !important;
}

:host /deep/ .picker-banner-day {
  display: none !important;
}

:host /deep/ .picker-weekday {
  font-family: WorkSans;
  font-size: 14px !important;
  font-weight: 500;
  text-align: center;
  color: #444a59 !important;
}

:host /deep/ .content span {
  font-family: WorkSans;
  font-size: 18px !important;
  font-weight: 600;
  text-align: center;
  color: #444a59 !important;
}

:host /deep/ .picker-day span {
  font-family: WorkSans;
  font-size: 16px !important;
  color: #444a59 !important;
}