@import "mixins";

.line-group {
  display: flex;
  min-width: inherit;
  max-width: inherit;

  .form-element {
    margin-right: 5%;
  }
}

fox-select {
  width: 100% !important;
}

h1 {
  @include heading-1;
}

.form-element {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 15px;
  padding-bottom: 20px;
  width: 100%;

  > div {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;

    a.delete-icon {
      position: absolute;
      right: -20px;
      font-size: 18px;
      color: #636c72;
    }
  }

  .picker-input {
    padding-left: 22px !important;
    padding-left: 10px;
    font-family: OpenSans;
    font-size: 16px;
    color: #3d3d3d;
    background-image: url(../../../assets/img/drop-arrow.svg);
    background-repeat: no-repeat;
    background-size: 14px 10px;
    background-position: right 10px center;
  }

  > p {
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: space-between;

    > label {
      font-family: WorkSans;
      margin: 0;
    }
  }

  > div img {
    height: auto;
    width: auto;
    max-width: 200px;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
  }

  upload-button {
    width: 100%;
    margin-top: 20px;
  }

  label {
    @include input-label;
  }

  input {
    @include input-text;
    padding: 6px 22px;
  }

  input:focus {
    border: solid 1px #3d3d3d;
  }

  input::-webkit-input-placeholder {
    @include input-placeholder;
  }

  checkbox {
    width: 32px;
    height: 32px;
  }

  .close-icon {
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    outline: 0;
    height: 0;
    cursor: pointer;
  }

  .close-icon:after {
    content: "X";
    position: absolute;
    z-index: 1;
    right: 15px;
    bottom: 53px;
    margin: auto;
    color: #ff3328;
    cursor: pointer;
    font-size: 14px;
  }

  .ng-touched.ng-invalid {
    border-color: #ff3328;
    border-radius: 3px;
    border: solid 1px #ff3328;
    font-family: OpenSans;
    font-size: 16px;
    color: #ff3328;
  }

  input:disabled {
    background-color: #ffffff;
    border: solid 1px #b2bac4;
    font-family: OpenSans;
    font-size: 16px;
    color: #b2bac4;
  }

  .social-accounts {
    display: flex;
    padding-bottom: 20px;

    img {
      margin: 10px;
    }

    a {
      align-self: center;
    }
  }

  tag-input {
    min-height: 65px;
  }
}

:host /deep/ switcher {
  .check label {
    height: 45px !important;
    width: 100px;
    text-align: center;
    line-height: 3;
  }
}

fox-button {
  height: 55px;
  width: 120px;
}

:host /deep/ .MicrosoftMap .as_container ul li {
  background-color: transparent !important;
  border-bottom: 1px solid #d8dce1;

  &:hover {
    color: #f57f17 !important;
  }

  .suggestLink:hover {
    background-color: transparent;
  }
  .as_suggestion_root_inside {
    font-family: WorkSans;
    font-size: 16px;
  }
}