@import "mixins";

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 120px;

  > div {
    a {
      color: black;
      margin-left: 25px;
    }

    h1 {
      @include heading-1;
      margin-top: 10px !important;

      > div {
        display: inline-block;
      }
    }
  }

  add-button {
    background-color: #2fd976;
    width: 254px;
    height: 54px;
    font-size: 16px;
    border-radius: 6px;
    align-self: center;
  }
}