@import "mixins";
@import "animations";

.close img {
  height: 33px;
}

.modal-content {
  width: 573px;
}

.modal-header {
  height: 98px;
  display: flex;
  align-items: center;
  padding: 0 44px;
}

.modal-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-title {
  font-family: Avenir-Book;
}

h1 {
  @include heading-1;
}