<div class="user-container">
  <!--<a href="javascript:void(0)" [routerLink]="['/admin/users']">Back to all Users</a>-->

  <form
    (ngSubmit)="addUser(userForm.value)"
    class="form"
    novalidate>

    <div class="form-group" [formGroup]="userForm">
      <!-- Email -->
      <form-input
          [form]="userForm"
          [controlName]="'email'"
          [isRequired]="true"
          [title]="'Email/Username*'">
      </form-input>

       <!--Client Access -->
      <div class="form-element">
        <label>Client Access*</label>
        <fox-select
          (change)="userDetails.clientId = $event.id"
          [items]="clients"
        >
        </fox-select>
      </div>

      <!-- Roles -->
      <div class="form-element">
        <label>User Type*</label>
        <form-dropdown
            [title]="'Select'"
            (typeChanged)="selectRole($event)"
            [options]="roles"
        >
        </form-dropdown>
        <!--<fox-select [items]="roles" (data)="rolesSelected($event)">-->
        <!--</fox-select>-->
      </div>
    </div>

    <fox-button
        [value]="'Done'"
        [disabled]="isFormInvalid()"
        [design]="'special'"
      ></fox-button>
  </form>
</div>
