<div class="user-container">
  <a href="javascript:void(0)" [routerLink]="['/admin/users']">Back to all Users</a>

  <form
    (ngSubmit)="addUser(userForm.value)"
    class="form"
    novalidate>

    <div class="form-group" [formGroup]="userForm">
      <!-- Email -->
      <div class="form-element">
        <label for="email">Email/Username*</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Email">

        <div class="field-error" ngxErrors="email">
          <div ngxError="required" when="touched">
            Field is required
          </div>
          <div ngxError="email" when="dirty">
            Invalid value
          </div>
        </div>
      </div>

       <!--Client Access -->
      <div class="form-element">
        <label>Client Access*</label>
        <fox-select
          (change)="clientId = $event.id"
          [items]="clients"
        >
        </fox-select>
      </div>

    </div>

      <fox-button
        [value]="'Update'"
        [disabled]="isFormInvalid()"
        [design]="'special'"
      ></fox-button>
  </form>
</div>
