<div class="event-container">

  <div>
    <!-- Event Name -->
    <div class="form-element">
      <label>Event Name</label>
      <input id="name" [ngModel]="eventName" type="text" placeholder="Event Name" [readonly]="true">
    </div>

    <div class="form-element dates">
      <div>
        <label>Start Date</label>
          <input class="picker-input" [ngModel]="startMomentDate" title="{{startMomentDate}}"
                 placeholder="Start Date"
                 [readonly]="true">
      </div>
      <div>
        <label>End Date</label>
          <input class="picker-input" [ngModel]="endMomentDate" placeholder="End Date" [readonly]="true">
      </div>
    </div>
    <!-- Location -->
    <div class="form-element location" id='searchBoxContainer'>
      <label>Location</label>
      <input id="address" id='searchBox' [ngModel]="eventAddress" type="text" placeholder="Address" autocomplete="off" [readonly]="true">
    </div>

    <!-- Tags -->
    <div class="form-element">
      <label>Tags</label>
      <tag-input [ngModel]="defaultTags"   [readonly]="true">
        <!--<tag-input-dropdown [matchingFn]="matchingFn"  [identifyBy]="'id'" [displayBy]="'name'" [autocompleteItems]="tags">
        </tag-input-dropdown>-->
      </tag-input>
    </div>
    <div class="form-element">
      <label>Notifications</label>
      <switcher [disabled]="true" [type]="defaultNotification" [options]="notificationOptions"
                (toggle)="notification=$event"></switcher>
    </div>
    <br>

  </div>
  <div class="map">
     <div #myMap style='width: 100%; height: 500px;'></div> 
  </div>
</div>
