.modal-lg {
  width: 60%;
}

.ng2-dropdown-menu {
  z-index: 2000 !important;
}

.modal-body {

  tag-input {
    padding-top: 30px;
  }

  scroll {
    max-height: 200px;
  }

  .btn-actions {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 60px;

    fox-button {
      height: 55px;
      width: 120px;
      font-size: 16px;
    }

    .cancel {
      margin-left: 25px;
      width: 150px;
    }
  }
}
