.modal-lg {
  width: 60%;
}

.ng2-dropdown-menu {
  z-index: 2000 !important;
}

.modal-header {
  padding-left: 30px;
}

.modal-body {

  tag-input {
    padding-top: 30px;
  }

  scroll {
    max-height: 200px;
  }

  .btn-actions {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    fox-button {
      height: 55px;
      width: 220px;
      font-size: 16px;
    }

    .cancel {
      margin-left: 25px;
      width: 150px;
    }
  }
}

.close img {
  height: 30px;
}

input {
  background-image: url(~assets/img/search.svg);
  background-repeat: no-repeat;
  background-size: 15px 18px;
  outline: 0;
  width: 100%;
  border-width: 0 0 2px 0;
  border-color: #F2F2F2;
  font-family: WorkSans;
  font-size: 16px;
  padding-left: 50px;
  color: #b2bac4;
}
input:focus {
  border-color: green
}
