<div class="top-panel">
    <h1 class="page-header">Event Management</h1>
    <div class="container-fluid">
        <!--<div class="col-lg-3 form-group">
            <a routerLink="/event" id="add-new-user">Add Event</a>
        </div>-->
        <md-tab-group>
  <md-tab label="Events"></md-tab>
  <md-tab label="Event Groups"></md-tab>
   <md-tab label="Favorited Media"></md-tab>
</md-tab-group>

        <div class="col-lg-12">
            <div class="col-lg-12 user-table-wrapper">
                <h3>Upcoming Events</h3>
                <event-list></event-list>
            </div>

            <div class="col-lg-12 user-table-wrapper">
                <h3>Recent Events</h3>
                <!--<event-list ></event-list>-->
               

               
            </div>
            <mwl-calendar-month-view
 >
</mwl-calendar-month-view>

        </div>
    </div>
</div>