<div class="top-panel">
    <h1 class="page-header">Event Management</h1>
    <div class="container-fluid">
        <!--<div class="col-lg-3 form-group">
            <a routerLink="/event" id="add-new-user">Add Event</a>
        </div>-->

        <p-tabView>
    <p-tabPanel header="Events">
      <div class="col-lg-12">
            <div class="col-lg-12 user-table-wrapper">
                <h3>Upcoming Events</h3>
                <event-list></event-list>
            </div>

            <div class="col-lg-12 user-table-wrapper">
                <h3>Recent Events</h3>
                <!--<event-list ></event-list>-->              
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Event Groups">
        Event Groups
    </p-tabPanel>
    <p-tabPanel header="Favorited Media">
        Favorited Media
    </p-tabPanel>
     <p-tabPanel header="Temp Calendar">
         <!--<p-schedule [events]="events"></p-schedule>-->
     </p-tabPanel>
</p-tabView>
        <!--<md-tab-group>
  <md-tab label="Events">        <div class="col-lg-12">
            <div class="col-lg-12 user-table-wrapper">
                <h3>Upcoming Events</h3>
                <event-list></event-list>
            </div>

            <div class="col-lg-12 user-table-wrapper">
                <h3>Recent Events</h3>
                <event-list ></event-list>
               

               
            </div>
        </div></md-tab>
  <md-tab label="Event Groups"><div>Event Groups</div></md-tab>
   <md-tab label="Favorited Media"><div>Favorited Media</div></md-tab>
</md-tab-group>-->


    </div>
</div>