<div class="top-panel">
    <h1 class="page-header">Event Management</h1>
    <div class="container-fluid">
        <div class="col-lg-3 form-group">
            <a routerLink="/events" id="add-new-user">Back</a>
        </div>

        <div class="col-lg-12">
            <!--<form (submit)="onSave()" [formGroup]="eventForm">
                
                <div class="form-group col-lg-4">
                    <label for="eventName">Event Name</label>
                    <input type="text" class="form-control" id="eventName" name="eventName"
                    formControlName="eventName" required>
                    
                </div> 
                <div class="col-lg-8">
                    <div *ngIf="eventName.touched && !eventName.valid" 
                    class="alert alert-danger">
                        Event name is required
                    </div>
                </div>

                <div class="form-group col-lg-4">
                    <label for="clientId">Client Access</label>
                    <select class="form-control" name="clientId" id="clientId" formControlName="clientId">
                        <option value="0">Select Client</option>
                        <option *ngFor="let client of clients" value="{{ client.id }}">{{ client.name }}</option>
                    </select>
                </div> 

                <div class="col-lg-8">
                    <div class="alert alert-danger"
                        *ngIf="clientId.touched && !clientId.valid"
                    >
                        please select a client
                    </div>
                </div>
                    <div style="clear:both"></div>
                <div class="form-group col-lg-2">
                    <label for="startDate">Start Date</label>
                    <input type="date" class="form-control" id="startDate" name="startDate"
                    formControlName="startDate" >
                    
                </div> 
                <div class="form-group col-lg-2">
                    <label for="endDate">End Date</label>
                    <input type="date" class="form-control" id="endDate" name="endDate"
                    formControlName="endDate" >
                    
                </div> 
                <div class="col-lg-8">
                    
                </div>

                <div class="form-group col-lg-4">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" name="location"
                    formControlName="location" >
                    
                </div> 
                <div class="col-lg-8">
                    
                </div>

                <div class="form-group col-lg-4">
                    <label for="eventTags">Event Tags</label>
                    
                   
                    <input [(ngModel)]='eventTag' (keyup.space)="addTag(eventTag)" [ngModelOptions]="{standalone: true}" class="form-control" id="eventTags" name="eventTags" />
                    <div class="input-tags">
                        <div *ngFor="let item of event.tags"><span>{{item}}</span><span (click)="removeTag(item)" class="remove-tag"><i  class="fa fa-close"></i></span></div>
                    </div>
                    
                </div> 
                <div class="col-lg-8">
                    
                </div>

                
                <div class="form-group col-lg-12">
                    <input value="Save" type="submit" id="save-user"  [disabled]="!eventForm.valid">
                </div>
                
            </form>-->
            
        </div>
    </div>
    <div class="modal-wrapper" [ngClass]="{'modal-open' : modalOpen}">
        <div class="user-modal animate-modal">
            <h1>Event Created!</h1>
            <p>You have successfully created a client. What would you like to do next?</p>
            <div class="modal-actions">
                <button (click)="addExperience()">Add an Experience</button>
                <a routerLink="/events">No, Thank you</a>
            </div>
        </div>
    </div>  
</div>