<div class="basic-details-container">
  <h2>When is the experience happening?</h2>

<!--<div *ngFor="let runTime of runTimes" >
<basic-details-run-times [runTime]="runTime" (updateRunTime)="updateRunTime($event)"></basic-details-run-times>
</div>-->
  <div class="line-group">
    <div class="form-element">
      <label>Start Date</label>
        <input class="picker-input" [ngModel]="startMomentDate" [returnObject]=" 'string' "
               [(dateTimePicker)]="startMomentDate" [mode]="'dropdown'" [pickerType]="'date'" placeholder="Date"
               readonly>
    </div>
    <div class="form-element">
      <label>Start Time</label>
      <div>
          <input class="picker-input" [ngModel]="startMomentTime" [returnObject]=" 'string' " [viewFormat]="'HH:mm'"
                 [(dateTimePicker)]="startMomentTime" [pickerType]="'time'" [mode]="'dropdown'" placeholder="Time"
                 readonly>
      </div>
    </div>
  </div>

  <div class="line-group">
    <div class="form-element">
      <label>End Date</label>
        <input class="picker-input" [ngModel]="endMomentDate" [returnObject]=" 'string' "
               [(dateTimePicker)]="endMomentDate"
               [mode]="'dropdown'" [pickerType]="'date'" placeholder="Date" readonly>
    </div>
    <div class="form-element">
      <label>End Time</label>
      <div>
          <input class="picker-input" [ngModel]="endMomentTime" [returnObject]=" 'string' " [viewFormat]="'HH:mm'"
                 [(dateTimePicker)]="endMomentTime" [pickerType]="'time'" [mode]="'dropdown'" placeholder="Time"
                 readonly>
      </div>
    </div>
  </div>
  <table *ngIf="runTimes.length > 0">
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
    </tr>
    <tr  *ngFor="let runtime of runTimes">
      <td>{{runtime.startTime | date:'medium'}}</td>
      <td>{{runtime.endTime | date:'medium'}}</td>
      <td><i [ngStyle]="{'margin-right': '15px'}" class="fa fa-pencil" aria-hidden="true" (click)="editRunTime(runtime)"></i><i class="fa fa-times" aria-hidden="true" (click)="deleteRunTime(runtime)"></i></td>
    </tr>
  </table>
  <div class="addRunTime" (click)="addRunTimes()"><div class="addRunTimeTitle"><img src="https://foxtalesdbgroup1220.blob.core.windows.net/fonts/add.png"> Add Another runtime</div></div>
  <br>
  <hr>
  <h2>Let's Add Some Brand Tags</h2>
  <label>Brand Tags</label>
  <tag-input [(ngModel)]="defaultTags" [transform]="tagTransformer" >
    <tag-input-dropdown [matchingFn]="matchingFn" [identifyBy]="'id'" [displayBy]="'name'" [autocompleteItems]="tags">
    </tag-input-dropdown>
  </tag-input>
  <div class="routing">
    <div>
      <a (click)="_location.back()" class="hvr-icon-wobble-horizontal">BACK</a>
    </div>
    <fox-button
      [value]="'Next'"
      [design]="'special'"
      (click)="Next()"
    ></fox-button>
  </div>
  <div class="description-box">
    Create from template
    Choose of of the templates or create an entirely custom experience.
    You can always revert to a template later.  

    Event Tags 
    description

    Brand Tags
    description
  </div>
</div>
