<div class="container">
  <h2>Edit Profile</h2>

  <!--<profile-navigation></profile-navigation>-->
  <hr>
  <div class="form-element">
    <label>Email / Username</label>
    <p>{{ profileData?.email }}</p>
  </div>

  <div class="form-element">
    <label>First Name</label>
    <p>{{ profileData?.firstName}}</p>
  </div>

  <div class="form-element">
    <label>Last Name</label>
    <p>{{ profileData?.lastName}}</p>
  </div>

  <div class="form-element">
    <label>Profile Image</label>
    <img *ngIf="profileData?.profileImagePath || logo" src="{{ logo || profileData?.profileImagePath }}">
    <!--<a href="javascript:void(0)" *ngIf="profileData?.profileImagePath || logo" (click)="removeLogo()">x</a>-->
    <upload-button (imgUploaded)="onImgUploaded($event)"></upload-button>
  </div>

  <div class="form-element">
    <fox-button
        [value]="'Save'"
        [design]="'special'"
        (click)="updateProfile()"
    ></fox-button>
  </div>
</div>