<div class="profile-container">
  <h2>Edit Profile</h2>

  <!--<profile-navigation></profile-navigation>-->
  <hr>
  <div class="form-element">
    <label>Email / Username</label>
    <input disabled="true" class="form-control" value="{{ profileData?.email }}"/>
  </div>

  <div class="form-element">
    <label>First Name</label>
    <input disabled="true" class="form-control" value="{{ profileData?.firstName }}"/>
  </div>

  <div class="form-element">
    <label>Last Name</label>
    <input disabled="true" class="form-control" value="{{ profileData?.lastName }}"/>
  </div>

  <div class="form-element">
    <label>Profile Image</label>
    <div>
      <img *ngIf="profileData?.profileImagePath || logo" [src]="logo || profileData?.profileImagePath">
      <a class="delete-icon" href="javascript:void(0)" *ngIf="profileData?.profileImagePath || logo"
         (click)="removeLogoModal.show()">x</a>
    </div>
    <upload-button (imgUploaded)="onImgUploaded($event)"></upload-button>
  </div>

  <fox-button
      [value]="'Save'"
      [design]="'special'"
      (click)="updateProfile()"
  ></fox-button>
</div>

<div
  bsModal
  #removeLogoModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="removeLogoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to remove logo?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="removeLogoModal.hide()">Close</button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="removeLogo(); removeLogoModal.hide()">Confirm</button>
      </div>
    </div>
  </div>
</div>