<div class="profile-container">
  <h2>Edit Profile</h2>

  <!--<profile-navigation></profile-navigation>-->
  <hr>
  <div class="form-element">
    <label>Email / Username</label>
    <input disabled="true" class="form-control" value="{{ profileData?.email }}"/>
  </div>

  <div class="form-element">
    <label>First Name</label>
    <input disabled="true" class="form-control" value="{{ profileData?.firstName }}"/>
  </div>

  <div class="form-element">
    <label>Last Name</label>
    <input disabled="true" class="form-control" value="{{ profileData?.lastName }}"/>
  </div>

  <div class="form-element">
    <label>Profile Image</label>
    <div>
      <img *ngIf="profileData?.profileImagePath || logo" [src]="logo || profileData?.profileImagePath">
      <a class="delete-icon" href="javascript:void(0)" *ngIf="profileData?.profileImagePath || logo"
         (click)="removeLogo()">x</a>
    </div>
    <upload-button (imgUploaded)="onImgUploaded($event)"></upload-button>
  </div>

  <fox-button
      [value]="'Save'"
      [design]="'special'"
      (click)="updateProfile()"
  ></fox-button>
</div>