.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 3%; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 23%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 43%; }
