<h1>User List</h1>

<div toastContainer class="toast-top-center"></div>

<select (change)="onTypeChanged($event.target.value)">
  <option value="1">Unarchived</option>
  <option value="2">Archived</option>
</select>

<data-table
  [rows]="users"
  [cols]="cols"
  [rowsCount]="totalUsers"
  [actions]="actions"
  (sortChanged)="onSortChanged($event)"
  (limitChanged)="onLimitChanged($event)"
  (searchChanged)="onSearchChanged($event)"
  (pageChanged)="onPageChanged($event)"
  (actionChanged)="onActionChanged($event)">
</data-table>

<div>
  <button type="button" [routerLink]="['/user']">add new user</button>
</div>
