
<div toastContainer class="toast-top-center"></div>

<div class="list-container">
  <div class="list-menu">
    <div>
      <h2 class="main-label">User List</h2>
      <admin-navigation class="main-label"></admin-navigation>
    </div>
    <div>
      <div class="create-client">
        <button type="button" class="creation-button" [routerLink]="['/admin/user']">
          <img src="assets/img/ui-24-px-outline-2-small-add.svg" alt="">
          <label>Create New User</label></button>
      </div>

    <dropdown-select
      [options]="clientStates"
      (typeChanged)="onTypeChanged($event)">
    </dropdown-select>
  </div>
</div>
  <data-table
    [rows]="users"
    [cols]="cols"
    [rowsCount]="totalUsers"
    [actions]="actions"
    (sortChanged)="onSortChanged($event)"
    (limitChanged)="onLimitChanged($event)"
    (searchChanged)="onSearchChanged($event)"
    (pageChanged)="onPageChanged($event)"
    (actionChanged)="onActionChanged($event)">
  </data-table>
</div>
