<div class="list-container">
  <div class="list-menu">
    <div>
      <h2 class="main-label">Device List</h2>
    </div>
    <div class="">
      <add-button
        [routerLink]="['/admin/device']"
        class="creation-button"
        [value]="'Create New Device'"
      ></add-button>
    </div>
  </div>
  <settings-edit></settings-edit>
  <data-table
    [rows]="devices"
    [cols]="cols"
    [rowsCount]="totalDevices"
    [actions]="actions"
    (sortChanged)="onSortChanged($event)"
    (limitChanged)="onLimitChanged($event)"
    (searchChanged)="onSearchChanged($event)"
    (pageChanged)="onPageChanged($event)"
    (actionChanged)="onActionChanged($event)">
  </data-table>
</div>
