<div class="nav-container">
  <div class="link-bar">
    <a href="javascript:void(0)" [routerLink]="['/']"><img class="logo" src="assets/img/foxtales.png"></a>
    <nav>
      <a href="javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a>
      <a href="javascript:void(0)" [routerLink]="['/events']">Events</a>
      <a href="javascript:void(0)" [routerLink]="['/track']">Track</a>
      <a href="javascript:void(0)" [routerLink]="['/admin']">Admin</a>
  <div><div id="circle"></div><a href="javascript:void(0)" [routerLink]="['/live']">Live</a></div>
    </nav>
  </div>

  <div class="profile">
    <img src="assets/img/column-search.svg">
    <div class="user-profile">
        <img class="user-img" src="assets/img/default-user-icon.png">
        <div>
          <div class="user-name">Aaron Dodson</div>
          <div class="user-design-name">Aaron Dodson design</div>
        </div>
    </div>
    <img class="user-img" src="assets/img/help.png">
  </div>
</div>
