<div *ngIf="!editing" class="device-name-block">
  <h1>{{name}}</h1>
  <!--<button (click)="toggleEdit()" isAllowed="RenameDevice">Edit</button>-->
</div>
<form
  *ngIf="editing"
  (ngSubmit)="rename(renameForm.value)"
  class="form"
  novalidate>

  <div [formGroup]="renameForm">

    <!-- Name -->
    <div>
      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Name">

      <div ngxErrors="name">
        <div ngxError="required" when="touched">
          Field is required
        </div>
      </div>
    </div>

  </div>
</form>
