<div class="container">
  <form
    (ngSubmit)="addEvent(eventForm.value)"
    class="form"
    novalidate>

    <div [formGroup]="eventForm">
      <!-- Event Name -->
      <div class="form-element">
      <label for="eventName">Event Name</label>
        <input
          id="eventName"
          formControlName="eventName"
          type="text"
          placeholder="Event Name">
      </div>

      <!-- Location -->
      <div class="form-element">
      <label for="location">Location</label>
        <input
          id="location"
          formControlName="location"
          type="text"
          placeholder="Location">
      </div>



      <!-- Tags -->
      <div class="form-element">
        <label>Tags</label>
        <tag-input
          formControlName="tags"
          [transform]="tagTransformer"
          [maxItems]="10">
            <tag-input-dropdown
              [identifyBy]="'id'"
              [displayBy]="'name'"
              [autocompleteItems]="tags">
            </tag-input-dropdown>
        </tag-input>

        <div ngxErrors="tags">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>




      <div>
      <button
        type="submit"
        [disabled]="eventForm.invalid"
        class="create-button">CREATE</button>
    </div>
    </div>
  </form>
</div>
