<div class="btn-group" dropdown
     [class.small]="size === 'small'"
     [class.medium]="size === 'medium'">
  <button dropdownToggle type="button" class="btn btn-primary drop-button">
    <label>{{title}}</label>
    <span class="caret fox-caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li *ngFor="let option of options" role="menuitem"><a class="dropdown-item" (click)="onTypeChanged(option.id)" href="javascript:void(0)">{{option.action}}</a></li>
  </ul>
</div>
