<div class="btn-group" dropdown placement="bottom right"
     [class.small]="size === 'small'"
     [class.medium]="size === 'medium'"
     [class.big]="size === 'big'"
>
  <button dropdownToggle type="button" class="btn btn-primary drop-button">
    <label>{{curentAction || title}}</label>
    <span class="caret fox-caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
    <li *ngFor="let option of options" role="menuitem" (click)="onTypeChanged(option)">
      {{option.action}}
    </li>
  </ul>
</div>
