<div class="experience-container">
  <div>
    <div class="main-info">
      <checkbox [name]="'first'"
                (toggle)="checkbox=$event">
      </checkbox>
      <div>
        <div>
          <a [routerLink]="['/experience', experience.id, 'content']" class="experience-name">{{experience.name}}</a>
          <label *ngFor="let brand of experience.brands">#{{brand}} ></label>
        </div>
        <div class="second-level">
          Live
        </div>
      </div>

    </div>
  </div>
  <div class="actions">
    <icon-button
      [type]="'Content'"
      [routerLink]="['/experience-builder/container/content-options']"
      [queryParams]="{ id: experience.id  }"
    ></icon-button>
    <icon-button
      [type]="'Email'"
      [routerLink]="['/experience-builder/container/email-builder']"
      [queryParams]="{ id: experience.id  }"
    ></icon-button>
    <icon-button
      [type]="'Feeds'"
      [routerLink]="['/experience-builder/container/content-feeds']"
      [queryParams]="{ id: experience.id  }"
    ></icon-button>
    <icon-button
      [type]="'Gallery'"
      [routerLink]="['/experience-builder/container/content-gallery']"
      [queryParams]="{ id: experience.id  }"
    ></icon-button>
    <icon-button
      [type]="'Interface'"
      [routerLink]="['/experience-builder/container/ui-builder']"
      [queryParams]="{ id: experience.id  }"
    ></icon-button>
    <icon-button
      [type]="'Social'"
      [routerLink]="['/experience-builder/container/sharing-options']"
      [queryParams]="{ id: experience.id  }"
    ></icon-button>
    <table-dropdown
      *ngIf="experienceActions.length > 1"
      [title]="'Action'"
      [options]="experienceActions"
      [size]="'medium'"
      (typeChanged)="onActionChanged(event, $event)"
    ></table-dropdown>
  </div>
</div>
