.experience-container {
  margin: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-bottom: medium solid #b2bac4;
  border-width: 1px;

  & :first-child {
    margin-right: 20px;
  }

  checkbox {
    height: 32px;
    width: 32px;
    font-size: 14px;
  }

  .actions {
    display: flex;
  }

  .main-info {
    display: flex;

    .experience-name {
      font-size: 26px;
      font-family: Avenir-Book;
      line-height: 1.38;
      color: #343a40;
    }

    & :first-child {
      > * {
        margin: auto;
        margin-right: 20px;
        padding-bottom: 5px;
      }

      display: flex;
      align-items: center;

      img {
        height: 35px;
        width: 35px;
      }

      label {
        font-family: WorkSans;
        font-size: 12px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0.6px;
        color: #b2bac4;
        margin-bottom: 0;
      }
    }
  }

  .experience {

    label{
      font-size: 16px;
      font-family: Avenir-Book;
    }
  }

  fox-button {
    height: 36px;
    width: 118px;
    font-size: 14px;
    align-self: center;
  }
}
