<div>
  <div class="group-container">
    <div>
      <label>Sort by</label>
      <dropdown
        [title]="'Upcoming'"
        [options]="sortActions"
        [size]="'medium'"
        (typeChanged)="onSortChanged($event)"
      ></dropdown>
    </div>
    <add-button
      [routerLink]="['/events/event-group']"
      class="creation-button"
      [value]="'Create New Group'"
    ></add-button>
  </div>
  <event-group
    [modal]="aeModal"
    [eventGroups]="eventGroups"
    style="width: 700px"
  ></event-group>

  <events-to-cur-group-modal #aeModal ></events-to-cur-group-modal>

</div>
