<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()"
     bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add to {{groupName}}</h3>
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <tag-input
            [transform]="tagTransformer"
            [maxItems]="10">
            <tag-input-dropdown
              [identifyBy]="'id'"
              [displayBy]="'name'"
              [autocompleteItems]="tags">
            </tag-input-dropdown>
          </tag-input>

        <div class="btn-actions">
          <fox-button
            [value]="'Save'"
            [design]="'primary'"
          ></fox-button>
          <fox-button
            class="cancel"
            [value]="'CANCEL'"
            [design]="'tertiary'"
          ></fox-button>
        </div>
      </div>
    </div>
  </div>
</div>
