<div class="client-container">
  <form
    (ngSubmit)="addClient(clientForm.value)"
    class="form"
    novalidate>

    <div [formGroup]="clientForm">
      <!-- Logo -->
      <div class="form-element">
        <div>
        <label style="font-size: 22px">Client logo</label>
        <img src="{{ logoBytes || client?.logo }}" style="max-height: 50px;">
        </div>
        <upload-button (imgUploaded)="onImgUploaded($event)"></upload-button>
      </div>
      <!-- Name -->
      <div class="form-element">
        <label for="name">Client Name*</label>
        <input
          id="name"
          class="form-control input"
          type="text"
          formControlName="name"
          placeholder="Name">

        <div ngxErrors="name">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="form-element">
        <label for="email">Admin AD email*</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="form-control input"
          placeholder="Email">

        <div ngxErrors="email">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
          <div ngxError="email" when="dirty">
            Invalid value
          </div>
        </div>
      </div>

      <!-- Address -->
      <div class="form-element">
        <label for="address">Address</label>
        <input
          id="address"
          class="form-control input"
          type="text"
          formControlName="address"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="off"
          #address
          placeholder="Search for Location">

        <div ngxErrors="address">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- Phone -->
      <div class="form-element">
        <label for="phone">Phone</label>
        <input
          id="phone"
          class="form-control input"
          type="text"
          formControlName="phone"
          placeholder="Phone">

        <div ngxErrors="phone">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>

      <!-- FreshBook -->
      <div class="form-element">
        <label for="freshBooks">FreshBook Url</label>
        <input
          id="freshBooks"
          class="form-control input"
          type="text"
          formControlName="freshBooks"
          placeholder="FreshBook Url">

        <div ngxErrors="freshBooks">
          <div class="field-error" ngxError="required" when="touched">
            Field is required
          </div>
        </div>
      </div>
    </div>

    <!-- Licenses -->
    <div class="form-group">
      <label>Licenses</label>
      <div class="license">
        <div *ngFor="let license of licenses">
          <input
            type="checkbox"
            name="selectedLicenses[]"
            class="regular-checkbox"
            [(ngModel)]="license.checked">
          <label>
            {{ license.name }}
          </label>
        </div>
      </div>
    </div>

    <div>
      <button
        type="submit"
        [disabled]="clientForm.invalid"
        class="create-button">CREATE
      </button>
    </div>
  </form>
</div>
