.container {
  margin: 50px 70px;
}

.form {
  width: 400px;
}

upload-button {
  height: 120px;
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  label {
    font-family: Avenir;
    font-size: 16px;
    font-weight: 900;
    line-height: 2.4;
    letter-spacing: 1px;
    color: #343a40;
  }

  input {
    width: 400px;
    height: 35px;
    font-family: OpenSans;
    font-size: 18px;
    color: #3d3d3d;
    border-radius: 5px;
    border-style: double;
    border-color: #b4b4b4;
    padding-left: 15px;
  }

  input:focus {
    border-color: gray;
  }

  .ng-touched.ng-invalid {
    border-color: red;
  }

  .error-text {
    color: red;
    font-family: Avenir;
    font-size: 10px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 88px;
    border-radius: 6px;
    background-color: #ffffff;
    border: dashed 1px #7a8693;

    img {
      width: 33px;
      height: 33px;
    }

    a {
      margin-left: 10px;
      font-family: WorkSans;
      font-size: 16px;
      line-height: 1;
      color: #626d78;
    }
  }

  .social-accounts {
    display: flex;
    padding-bottom: 20px;

    img {
      margin: 10px;
    }

    a {
      align-self: center;
    }
  }
}

.create-button {
  width: 204px;
  height: 54px;
  border-radius: 6px;
  background-color: #2fd976;
  color: white;
  font-size: 16px;
  margin-top: 30px;
}

button.create-button[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

.field-error {
  font-style: italic;
  color: red;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .license {
    padding-right: 15px;
  }
}
